.photo img {
  border: 5px solid #2e3061;
  display: block;
  margin-left: auto;
}

.content {
  max-width: 600px;
  padding-left: 50px;
}

.textPrimary {
  color: #ff1cc0 !important;
}

.btn-projects {
  border-radius: 20px;
  border-color: #2e3061;
  color: #9997bc;
}

.btn-projects:hover {
  background-color: #64ffda;
  color: #0a192f;
}

.lead {
  color: #b2a6be;
}

@keyframes scale-up {
  to {
    scale: 1.5;
  }
}

@keyframes fade-away {
  to {
    opacity: 0;
  }
}
#proyectos {
  background-color: #112240;
  padding: 100px 20px;
}

.card {
  background-color: #112240;
  color: #ccd6f6;
  border: 1px solid #64ffda;
}

.card-head {
  padding: 15px;
  font-weight: bold;
  color: white;
}

.card-body {
  padding: 15px;
  color: #8892b0;
}

.button {
  --color: #fff;
  --color-hover: var(--color);
  --background: #2b3044;
  --background-hover: var(--background);
  --hover-back: #6d58ff;
  --hover-front: #5c86ff;
  padding: 8px 28px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
  transition: color 0.2s linear, background 0.3s linear;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: var(--hover-back);
    top: 0;
    left: 0;
    right: 0;
    height: 200%;
    border-radius: 40%;
    transform: translateY(50%);
    transition: transform 0.4s ease-in, border-radius 0.5s ease;
  }

  &:after {
    background: var(--hover-front);
  }

  &:hover {
    color: var(--color-hover);
    background: var(--background-hover);

    &:before,
    &:after {
      transform: translateY(0);
      border-radius: 5%;
    }
  }
}

.button.alternative {
  --background: #2e3061;
  --hover-back: #6d58ff;
  --hover-front: #fee9ce;
  --color-hover: #555184;
}

.button div {
  z-index: 1;
  position: relative;
  display: flex;
}

.button div span {
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.button.in span {
  animation: move 0.7s linear forwards 0.18s;
}

@keyframes move {
  30%,
  36% {
    transform: translateY(-6px) rotate(-13deg);
  }
  50% {
    transform: translateY(3px) rotate(6deg);
  }
  70% {
    transform: translateY(-2px) rotate(-3deg);
  }
}

@keyframes move-out {
  30%,
  36% {
    transform: translateY(6px) rotate(13deg);
  }
  50% {
    transform: translateY(-3px) rotate(-6deg);
  }
  70% {
    transform: translateY(2px) rotate(3deg);
  }
}
